<div>
  <h1>
    Wing Man Camp is a new Burning Man theme camp for 2012.
  </h1>
  <p>
    I am also interested in bringing the camp to other events, including South by Southwest, Coachella, and perhaps Mardi Gras.
  </p>
</div>

<%= link_to 'Sign our guestbook to get on a list!', invites_path %>