<div class="explanations">
  <h1>
    Wing Man Camp is a new co-ed Burning Man theme camp for 2012.
  </h1>
  <p>
    I am also interested in bringing the camp to other events, including South by Southwest, Coachella, and perhaps Mardi Gras.
  </p>
</div>

<div class="explanations">
  <%= link_to 'Sign our guestbook to get on a list!', invites_path %>
</div>

<div class="explanations">
  Pardon the appearance of the site ;)  Wanted to get it up in time for <%= link_to 'Art Hack Day', 'http://arthackday.net/319scholes' %>.  Great hacks everybody!
</div>

<div class="explanations">
  <h2>
    Wingy Principles
  </h2>
  
  <ul>
    <li>
      teaching people how to be great wingmen - and great friends
      <ul>
        <li>
          body language for expressing yourself passionately without "giving away the game"
        </li>
        <li>
          little-known conversation tips to accelerate the process of "where have you been all my life"
        </li>
        <li>
          a moral-psychological framework for your continued exploration into sexploration
        </li>
      </ul>
    </li>
    
    <li>
      giving people wings
      <ul>
        <li>
          paper wings
        </li>
        <li>
          wire wings
        </li>
        <li>
          painted or inky wings will round out our shoulder-bound wingy couture
        </li>
      </ul>
    </li>
    
    <li>
      hosting self-actualization via performance art on our Runway and our Running Wake
      <ul>
        <li>
          the Runway is a stage we'll build in our camp
        </li>
        <li>
          the Running Wake is a small stage pulled by bikes like a chariot.  It will have a second microphone attached to a long arm that the performer can swing out to the audience for impromptu duets, Wingman style!
        </li>
    </li>
  </ul>
</div>

<div class="explanations">
  <h2>
    Burning Man is
  </h2>
  <p>
    a temporary city built at the end of every summer in the Black Rock Desert, north of Reno, Nevada.  The city is populated by over 50,000 Burners, who bring their passion projects and many massive sculptures.  No money is allowed, and no bartering takes place - everything is exchanged as freely given gifts.
  </p>
  <p>
    Burners take care to respect the environment but also have a rollicking good time, with lots of colorful lights and loud music.  During the daylight hours, there are many seminars and discussions - many of which are sexually themed.  Wing Man Camp probably won't teach very much about sex - our focus is on making a great first impression and forming a flirty relationship or friendship.  Once the snuggling starts you're on your own - or you can visit other camps to skill up on your sacksmanship.
  </p>
</div>

<div class="signature">
  More details soon!
  <p>
    Love,
  </p>
  <h3>
    <i>
      <%= mail_to 'cupid@wingmancamp.org', 'Cupid' %>
    </i>
  </h3>
  <i>
    the winged man
  </i><br>
  <%= image_tag 'cupid.png' %>
</div>
